.banner {
  @apply text-white relative text-center bg-cover transition-all duration-1000;
  @apply min-[992px]:p-[110px] max-[992px]:py-[150px];
  @apply before:bg-[rgb(5,1,51)]/[.70];
  @apply min-[992px]:[&_h2]:text-[70px] max-[992px]:[&_h2]:text-[40px];
  @apply min-[992px]:[&_p]:px-[20%] max-[992px]:[&_p]:px-[5%];
  @apply [&>div]:relative;
}

.aboutus {
  @apply py-[50px] relative bg-cover bg-fixed bg-center;
  @apply max-lg:px-16 max-sm:px-4;
  @apply before:bg-[rgb(255,255,255)]/[.70];
  @apply [&_h1]:relative;
}

.advantages {
  @apply py-[50px];
  @apply max-[992px]:px-[10%] max-md:px-[5%] max-[576px]:px-[0.5%];
}

.learning-path {
  @apply text-white text-center whitespace-nowrap;
  @apply [&_h2]:text-[42px] [&_p]:text-[22px];
  @apply [&>div>div>div]:h-[522px];
  @apply before:[&>div>div>div]:bg-[rgb(0,0,0)]/[.50];
  @apply hover:before:[&>div>div>div]:cursor-pointer;
  @apply hover:before:[&>div>div>div]:duration-300;
  @apply hover:before:[&>div>div>div]:bg-[rgb(0,0,0)]/[.00];
  @apply [&_.absolute-cc]:top-[70%];
  @apply before:[&>div>div>div]:rounded-lg;
  @apply min-[992px]:before:[&>div>div>div]:left-0;
  @apply min-[992px]:before:[&>div>div>div]:w-full;
  @apply max-[992px]:[&>div]:gap-5;
  @apply max-[992px]:[&>div>div]:px-5;
  @apply max-[992px]:[&>div>div>div]:shadow-[0_0_6px_#000];
  @apply max-[992px]:before:[&>div>div>div]:left-5;
  @apply max-[992px]:before:[&>div>div>div]:w-[calc(100%-40px)];
}

.advantages-2 {
  @apply bg-cover bg-fixed relative py-[65px] bg-center;
  @apply before:bg-[rgb(0,0,0)]/[.10];
  @apply [&>*]:relative;
  @apply min-[992px]:[&_h4]:text-[24px];
  @apply min-[992px]:[&_h2]:text-[30px];
  @apply max-[992px]:[&_h4]:text-[15px];
  @apply max-[992px]:[&_h2]:text-[21px];
}

@media screen and (min-width: 992px) {
  .learning-path > div > div:first-child {
    padding-right: 0.02px;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }

  .learning-path > div > div:last-child {
    padding-left: 0.02px;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
}
