@media screen and (min-width: 992px) {
  .banner {
    padding: 110px;
  }

  .banner h2 {
    font-size: 70px;
  }

  .banner p {
    padding-inline: 20%;
  }

  .learning-path > div > div:first-child {
    padding-right: 0.02px;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }

  .learning-path > div > div:last-child {
    padding-left: 0.02px;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }

  .learning-path > div > div > div::before {
    left: 0;
    width: 100%;
  }

  .advantages-2 h4 {
    font-size: 24px;
  }

  .advantages-2 h2 {
    font-size: 30px;
  }
}

@media not screen and (min-width: 992px) {
  .row-section {
    padding-inline: 10%;
  }

  .banner {
    padding: 150px 0px;
  }

  .banner h2 {
    font-size: 40px;
  }

  .banner p {
    padding-inline: 5%;
  }

  .learning-path > div {
    gap: 20px;
  }

  .learning-path > div > div {
    padding-inline: 20px;
  }

  .learning-path > div > div > div {
    box-shadow: 0 0 6px #000;
  }

  .learning-path > div > div > div::before {
    left: 20px;
    width: calc(100% - 40px);
  }

  .advantages-2 h4 {
    font-size: 15px;
  }

  .advantages-2 h2 {
    font-size: 21px;
  }
}

@media not screen and (min-width: 768px) {
  .row-section {
    padding-inline: 5%;
  }

  .row-section h1 {
    font-size: 32px !important;
  }
}

@media not screen and (min-width: 576px) {
  .row-section {
    padding-inline: 0.5%;
  }
}

.learning-path h2,
.learning-path p,
.banner h2,
.banner h4 {
  margin: 0;
}

.banner,
.learning-path .row-section {
  transition: all 2s;
}

.learning-path {
  color: white;
  text-align: center;
  white-space: nowrap;
}

.learning-path h2 {
  font-size: 42px;
}

.learning-path p {
  font-size: 22px;
}

.learning-path > div > div > div {
  height: 522px;
}

.learning-path > div > div > div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.learning-path > div > div > div:hover:before {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}

.learning-path .absolute-cc {
  top: 70%;
}

.btn-carousel {
  min-width: 0;
  width: 24px;
  height: 20px;
  border: 0;
  padding: 0;
}

.btn-carousel:hover {
  color: none;
  border: 0;
}

.btn-carousel span {
  width: 10px;
  height: 10px;
  background: #d6d6d6;
}

.btn-carousel span.active,
.btn-carousel span:hover {
  background: #869791;
}

.antd-carousel > div > div > div {
  padding-inline: 25px;
  padding-bottom: 25px;
}

.card-carousel {
  position: relative;
  border: 1px solid #999;
}

.card-carousel .ant-card-body {
  border-top: 1px solid #999;
}

.card-carousel.card-mentor > div:last-child {
  padding-top: 0 !important;
}

.card-carousel > div:last-child {
  padding-inline: 16px;
  padding-top: 2.5rem;
  padding-bottom: 16px;
}

.card-carousel > div:last-child h5 {
  font-size: 24px;
  margin: 0;
}

.card-carousel .ant-card-body .ant-image {
  position: absolute;
}

.card-carousel .logo-course {
  position: absolute;
  top: -100%;
  left: 20px;
  padding: 2px;
  border: 2px solid #999;
  border-radius: 5px;
  background-color: #fff;
}

.card-carousel .ant-image:has(.level-course) {
  position: absolute;
  top: 35%;
  right: 0;
}

.card-carousel p {
  margin: 0;
}

.advantages-2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
