@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

a,
a:hover,
a:visited,
a:visited,
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .antd-header {
    display: block;
  }

  .layout-header {
    padding-block: 22.5px;
  }
}

@media not screen and (min-width: 992px) {
  .antd-header {
    display: none;
  }

  .layout-header {
    padding-block: 6.5px;
  }
}

.flex-sc {
  @apply flex justify-start items-center;
}

.flex-cc {
  @apply flex justify-center items-center;
}

.absolute-cc {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.before-layout::before {
  @apply content-[''] absolute top-0 left-0 w-full h-full;
}

.base-txt {
  color: #ff630e !important;
}

.base-text:hover {
  color: #ff630e !important;
}

.base-icons8:hover {
  fill: #ff630e !important;
}

.antd-icon {
  font-size: 25px;
}

.ant-menu-item-selected,
.ant-menu-item-active.ant-menu-item-only-child,
.antd-menu li:hover {
  color: #ff630e !important;
}

.ant-menu-item.ant-menu-item-only-child:hover {
  background-color: inherit !important;
}

.antd-menu ul,
.antd-menu li::after {
  border-bottom-width: 0px !important;
}

.antd-input input {
  color: white;
  background-color: #26224c;
}

.antd-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.layout-header {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0 1px 10px);
}

.btn-link {
  @apply px-5 py-[10px] !text-white bg-[#ff630e] font-bold;
  @apply border-[#ff630e] border-[1px] border-solid;
  @apply hover:!text-[#ff630e] hover:bg-white/70;
}

.card-base {
  @apply relative;
  @apply border-[#999] border-[1px] border-solid;
  @apply [&_.ant-card-body]:border-[#999] border-[1px] border-solid;
  @apply [&>.ant-card-body]:border-0;
  @apply [&>.ant-card-body]:border-t;
  @apply [&>.ant-card-body]:border-solid;
  @apply [&>.ant-card-body]:border-[#999];
  @apply [&>.ant-card-body]:last:px-4;
  @apply [&>.ant-card-body]:last:pb-4;
  @apply [&>.ant-card-body]:last:pt-10;
  @apply [&>.ant-card-body_h5]:text-[24px];
  @apply [&>.ant-card-body>.ant-image]:absolute;
  @apply [&_.ant-image:has(.level-course)]:absolute;
  @apply [&_.ant-image:has(.level-course)]:top-[33%];
  @apply [&_.ant-image:has(.level-course)]:right-0;
}

.card-base .logo-course {
  @apply absolute -top-full left-[20px] p-[2px] rounded bg-[#fff];
  @apply border-[#999] border-[1px] border-solid;
}

.card-base.card-mentor > div:last-child {
  @apply !pt-0;
}
