@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

a,
a:hover,
a:visited,
a:visited,
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 992px) {
  .antd-header {
    display: block;
  }

  .layout-header {
    padding-block: 22.5px;
  }
}

@media not screen and (min-width: 992px) {
  .antd-header {
    display: none;
  }

  .layout-header {
    padding-block: 6.5px;
  }
}

.flex-sc {
  @apply flex justify-start items-center;
}

.flex-cc {
  @apply flex justify-center items-center;
}

.absolute-cc {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.before-layout::before {
  @apply content-[''] absolute top-0 left-0 w-full h-full;
}

.base-txt {
  color: #ff630e !important;
}

.base-text:hover {
  color: #ff630e !important;
}

.base-icons8:hover {
  fill: #ff630e !important;
}

.antd-icon {
  font-size: 25px;
}

.btn-link {
  @apply px-5 py-[10px] !text-white bg-[#ff630e] font-bold;
  @apply border-[#ff630e] border-[1px] border-solid;
  @apply hover:!text-[#ff630e] hover:bg-white/70;
}

.card-base {
  @apply relative overflow-hidden;
  @apply border-[#999] border-[1px] border-solid;
  @apply [&_.ant-card-body]:border-[#999] border-[1px] border-solid;
  @apply [&>.ant-card-body]:border-0;
  @apply [&>.ant-card-body]:border-t;
  @apply [&>.ant-card-body]:border-solid;
  @apply [&>.ant-card-body]:border-[#999];
  @apply [&>.ant-card-body]:last:px-4;
  @apply [&>.ant-card-body]:last:pb-4;
  @apply [&>.ant-card-body]:last:pt-10;
  @apply [&>.ant-card-body_h5]:text-[24px];
  @apply [&>.ant-card-body>.ant-image]:absolute;
  @apply [&_.ant-image:has(.level-course)]:absolute;
  @apply [&_.ant-image:has(.level-course)]:top-[33%];
  @apply [&_.ant-image:has(.level-course)]:right-0;
}

.card-base .logo-course {
  @apply absolute -top-full left-[20px] p-[2px] rounded bg-[#fff];
  @apply border-[#999] border-[1px] border-solid;
}

.card-base.card-mentor > div:last-child {
  @apply !pt-0;
}

.btn-carousel {
  @apply min-w-0 w-6 h-5 border-0 p-0;
  @apply hover:border-0 bg-transparent;
  @apply [&_span]:w-[10px] [&_span]:h-[10px];
  @apply [&_span]:bg-[#d6d6d6];
  @apply [&_span.active]:bg-[#869791] hover:[&_span]:bg-[#869791];
}

.antd-carousel {
  @apply [&>div>div>div]:px-[25px];
  @apply [&>div>div>div]:pb-[25px];
}

.antd-carousel-image {
  @apply [&>div>div>div]:px-[15px];
}
