body {
  margin: 0;
  font-weight: 500;
}

a,
a:hover,
a:visited,
a:visited,
a:active {
  color: inherit;
}

@media screen and (min-width: 992px) {
  .antd-header {
    display: block;
  }

  .layout-header {
    padding-block: 22.5px;
  }
}

@media not screen and (min-width: 992px) {
  .antd-header {
    display: none;
  }

  .layout-header {
    padding-block: 6.5px;
  }
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-sc {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-cc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.base-txt {
  color: #ff630e !important;
}

.base-text:hover {
  color: #ff630e !important;
}

.base-icons8:hover {
  fill: #ff630e !important;
}

.antd-icon {
  font-size: 25px;
}

.ant-menu-item-selected,
.ant-menu-item-active.ant-menu-item-only-child,
.antd-menu li:hover {
  color: #ff630e !important;
}

.ant-menu-item.ant-menu-item-only-child:hover {
  background-color: inherit !important;
}

.antd-menu ul,
.antd-menu li::after {
  border-bottom-width: 0px !important;
}

.antd-input input {
  color: white;
  background-color: #26224c;
}

.antd-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.layout-header {
  position: sticky;
  top: 0;
  background-color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.24) 0 1px 10px);
}
